<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/mathlab</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		
		<mapping resource="conf/hbm/Student.hbm.xml"/>
		<mapping resource="conf/hbm/Teacher.hbm.xml"/>
		<mapping resource="conf/hbm/Manager.hbm.xml"/>
		<mapping resource="conf/hbm/Note.hbm.xml"/>
		<mapping resource="conf/hbm/Experiment.hbm.xml"/>
	    <mapping resource="conf/hbm/Course.hbm.xml"/>
  		<mapping resource="conf/hbm/Grade.hbm.xml"/>
		<mapping resource="conf/hbm/Authority.hbm.xml"/>
		<mapping resource="conf/hbm/StuAndCourse.hbm.xml"/>
	</session-factory>
</hibernate-configuration>